@import "tailwindcss";

@theme {
  --color-kashmir-red: #D9480F;
  --color-kashmir-green: #2B8A3E;
  --color-walnut: #4A3728;
  --color-snow: #F8F9FA;
  
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #F8F9FA;
  --foreground: #4A3728;
}

body {
  background: var(--background);
  color: var(--foreground);
}